body
{
	/*background-color: #95390d;*/
	background-color: black;
}

.image
{
	float: right;
}

.titre
{
	font-size: 2.4em;
	font-family: Georgia, sans-serif;
	font-style: italic;
	color: gray;
	text-align: center;
}

.texte
{
	font-size: 1.4em;
	font-family: Georgia, sans-serif;
	color: gray;
	text-align: center;
}